#header{
    text-align: center;
    background-color: #ffffff;
    height: 30px;
    vertical-align: top;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
.nav-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-link{
    font-size: 25px;
    padding: 30px;
    color: black;
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
}
.social{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}