#header{
    position: fixed;
    left: 5px;
    right: 5px;
    text-align: center;
    background-color: #ffffff;
    height: 120px;
    vertical-align: top;
    margin-top: 0px;
    font-size: 50px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapers.com/images/hd/imagine-dragons-photoshoot-aixofi4hf7dd7blj.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:scroll;
    overflow-x:hidden;
  }
/*.description {
    display: flex;
    position: fixed;
    left: 75px;
    top: 190px;
    max-width: 90%;
    height: 900px;
    background-color: #ffffffbe;
    flex-direction: row;
    flex-wrap: wrap;
}
.image{
    max-width: 100%;
    max-height:100%;
    padding: 20px;
    flex-basis: auto;
    background-color: #fa0000;
}
  
.text {
    font-size: 20px;
    padding: 40px;
    height: 230px;
    border: 10px blue;
    border-width: 3px;
    align-items: center;
    flex-basis: auto;
    background-color: #00fa21;
}
.text2 {
    font-size: 20px;
    padding: 40px;
    height: 230px;
    border: 10px blue;
    border-width: 3px;
    align-items: center;
    flex-basis: auto;
    background-color: #00c8fa;
}*/
.description {
    display: flex;
    position: fixed;
    left: 75px;
    top: 190px;
    max-width: 90%;
    height: 900px;
    background-color: #ffffffbe;
    flex-direction: row;
    flex-wrap: wrap;
}

.image {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    flex-basis: auto;
    background-color: #fa0000;
}

.text, .text2 {
    font-size: 20px;
    padding: 40px;
    height: 230px;
    box-sizing: border-box;
    border: 3px solid blue;
    align-items: center;
    flex-basis: auto;
}

.text2 {
    background-color: #00c8fa;
}
.nav-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 660px;
    top: 50px;
}
.page-link{
    font-size: 25px;
    padding: 30px;
    color: black;
    font-weight: bold;
}
main{
    background-image: url("https://wallpapers.com/images/hd/imagine-dragons-photoshoot-aixofi4hf7dd7blj.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }