#header{
    text-align: center;
    background-color: #ffffff;
    height: 30px;
    vertical-align: top;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
.nav-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-link{
    font-size: 25px;
    padding: 30px;
    color: black;
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
  }
.social{
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}
.videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.videos-container{
    background-color: beige;
    height: 720px;
    border-radius: 12px;
    margin: 20px;
}
.albumn {
    margin: 10px;
    text-align: center;
    padding: 30px;
}
.albumn iframe {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.video-caption {
    margin-top: 5px;
    font-size: 17px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}