#header{
    position: fixed;
    left: 5px;
    right: 5px;
    text-align: center;
    background-color: #ffffff;
    height: 120px;
    vertical-align: top;
    margin-top: 0px;
    font-size: 50px;
}
.nav-pannel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 660px;
    top: 50px;
}
.page-link{
    font-size: 25px;
    padding: 30px;
    color: black;
    font-weight: bold;
}
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
  }
  @media (min-width: 500px) {
        .container{
    display: flex;
    flex: row;
  }
}
ul {
    list-style-type: none;
  }
.SocialMediaLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 660px;
    top: 50px;
  }
